@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Add smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom styles for better typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}

/* Add any additional custom styles here */ 

/* Add these styles at the end of the file */
#nprogress .bar {
  background: #e11d48 !important; /* rose-600 */
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #e11d48, 0 0 5px #e11d48 !important;
}